@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.239), rgba(0, 0, 0, 0.27)), url("/images/bg1.png"); */
  background-image: linear-gradient(
    rgba(0, 200, 0, 0.239),
    rgba(0, 80, 0, 0.27)
  );
  background-attachment: fixed;
}

/* prefers-reduced-motion: reduce */
/* - если пользовать указал на снижение анимации */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    /* --background: 0 0% 100%; */

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 142.1 76.2% 36.3%;

    --radius: 0.75rem;
  }

  * {
    font-family: var(--font-nunito), san-serif;
  }

  /* стилизация полосы прокрутки */
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  /* дорожка полосы прокрутки */
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: var(--primary);
  }

  /* ползунок полосы прокрутки */
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--primary);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground;
    }
  }

  /* .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  } */
}

input.react-dadata__input {
  background-color: #f0fdf4;
}

input.react-dadata__input:hover,
input.react-dadata__input:focus {
  background-color: rgb(254, 243, 199);
  outline: none !important;
}

/* Chat */
[aria-label='Open chat window'],
[aria-label='Close chat window'][class^='ButtonBase'] {
  background-color: green !important;
  opacity: 0.7;
}

[class^='Header__Component-sc'],
[class^='Window__ChatGroup-sc'] {
  background-color: #f0fdf4 !important;
}

[class^='ChatLayout__Message-sc-'] {
  background-color: #dcfce7 !important;
}

a[href*='elfsight.com'] {
  background-color: black !important;
  /* display: none !important;
  visibility: hidden; */
}

@media (max-width: 480px) {
  .footer-ul {
    justify-content: start;
  }
  .footer-text {
    font-size: 20px !important;
    width: 100%;
  }
  .footer__logo {
    align-self: start !important;
  }
}
